# dufs file storage credentials (https://files.jtuta.cloud)
FILE_STORAGE_USERNAME=
FILE_STORAGE_PASSWORD=

# Run the container:
# docker run -d \
#   -p 3000:3000 \
#   -v portfolio_views:/app/.data/views \
#   -e NUXT_FILE_STORAGE_USERNAME=<username> \
#   -e NUXT_FILE_STORAGE_PASSWORD=<password> \
#   <image-name>
